.checkbox {
  display: block;
  width: fit-content;
  min-height: 20px;
  position: relative;
  cursor: pointer;

  &__input {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;

    + span {
      display: inline-flex;
      align-items: center;
      position: relative;
      padding-left: 26px;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
      cursor: pointer;
      color: inherit;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 9px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        border: 1px solid #D7D7D7;
        border-radius: 4px;
        transition: all $transition;
        background: #F4F4F4;
      }

      &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 9px;
        transform: translateY(-50%);
        width: 7.5px;
        height: 6.75px;
        background: url("data:image/svg+xml,<svg width='10' height='9' viewBox='0 0 10 9' xmlns='http://www.w3.org/2000/svg'><path d='M1.25 4.55115L4.25 7.55115L8.75 0.801147' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>") no-repeat center;
        background-size: contain;
        opacity: 0;
        transition: all $transition;
      }
    }

    &:hover + span::before {
      border-color: $color-primary;
    }

    &:checked + span {
      color: $color-primary;
    }

    &:checked + span::before {
      border-color: $color-primary;
      background-color: $color-primary;
    }

    &:checked + span::after {
      opacity: 1;
    }
  }
}
