.overlay {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(20, 20, 20, 0.70);
  backdrop-filter: blur(2.5px);
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 640px;
  width: calc(100% - 20px);
  max-height: 95vh;
  background-color: $color-white;
  z-index: 111;
  border-radius: 30px;

  &.card-certificates {
    display: none;
    &::after {
      display: none;
    }
    @include media(max, 991) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: calc(100% - 32px);
      max-height: fit-content;
    }
  }

  @include media(max, 991) {
    width: 100%;
    max-width: unset;
    border-radius: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transform: translate(0, 100%);
    transition: transform $transition;
    top: auto;
    bottom: 0;
    left: 0;
  }

  &--vis {
    @include media(max, 991) {
      transform: translate(0, 0);
    }
  }

  &::after {
    @include media(max, 991) {
      content: '';
      position: absolute;
      top: 10px;
      right: 50%;
      transform: translateX(50%);
      width: 40px;
      height: 5px;
      border-radius: 50px;
      background-color: #C2D1E1;
    }
  }

  &--video {
    padding: 0;
    max-width: 1148px;
    height: fit-content;
    background: transparent;
    border-radius: 30px;
    overflow: hidden;
    &::after {
      display: none;
    }
    @include media(max, 991) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: calc(100% - 32px);
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__video {
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 31px;
    right: 33px;
    @include size(24px);
    cursor: pointer;
    z-index: 1;
    transition: color $transition;
    color: $color-grey-dark;

    @include hover {
      color: $color-black;
    }
  }
  &__container {
    padding: 60px;
    width: 100%;
    max-height: calc(95vh - 70px);
    overflow: auto;
    @include media(max, 991) {
      padding: 76px 16px 56px;
    }
  }
  &__thanks{
    display: none;
    flex-direction: column;
    gap: 30px;
    @include size(100%);
  }
  &__thanks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 110px;
    @include media(max, 991) {
      gap: 32px;
    }
    .button {
      align-self: flex-start;
    }
  }
  &__consultant-text,
  &__consultant {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  &__consultant-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &__consultant-name {
    font-size: 20px;
    line-height: 140%;
    font-weight: 600;
    @include media(max, 991) {
      font-size: 18px;
    }
  }
  &__consultant-position {
    font-size: 16px;
    line-height: 140%;
  }
}

.modal--team {
  padding: 58px 79px 89px 57px;
  flex-direction: column;
  gap: 20px;
  @include media(max, 991) {
    padding: 76px 16px 56px;
  }
  p {
    padding-right: 47px;
    font-size: 16px;
    line-height: 140%;
    @include media(max, 991) {
      padding-right: 0;
      font-size: 14px;
      line-height: 120%;
    }
  }
}
