.swiper-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(max, 767) {
    overflow: visible;
  }

  .swiper-notification {
    display: none;
  }

  .swiper-slide {
    height: auto;
  }
}

.swiper-controls {
  display: flex;
  align-items: center;
  gap: 30px;
  @include media(max, 767) {
    gap: 0;
  }
}

.swiper-button-wrapper {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 16px;
  top: 5px;
  @include media(max, 991) {
    display: none;
  }
}

.swiper-pagination {
  position: static;
  display: flex;
  gap: 0;
  width: 320px;

  @include media(max, 767) {
    width: 100%;
  }
}

.swiper-pagination-bullet {
  width: 100%;
  height: 2px;
  margin: 0 !important;
  background-color: $color-grey-blue;
  opacity: 1;
  border-radius: 0;
  transition: background-color $transition;

  &-active {
    background-color: $color-black;
  }

  @include hover {
    background-color: $color-black;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  background-color: $color-white;

  &::after {
    display: none;
  }



  &:hover {
    svg {
      color: $color-primary;
    }
  }
  & svg {
    color: $color-black;
    transition: color $transition;
  }
}

.swiper-—Åategories {

  @include media(min, 880) {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 38px;
    }

    .swiper-slide {
      width: 100% !important;

      &:nth-child(3n) {
        margin-right: 0 !important;
      }
    }
  }
  @include media(max, 1340) {
    .swiper-wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }
  @include media(max, 879) {
    .swiper-wrapper {
      gap: 0;
    }
  }
}

.swiper-staff {

  @include media(min, 991) {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 38px;
    }

    .swiper-slide {
      width: 100% !important;

      &:nth-child(3n) {
        margin-right: 0 !important;
      }
    }
  }
  @include media(max, 1340) {
    .swiper-wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }
  @include media(max, 991) {
    .swiper-wrapper {
      gap: 0;
    }
  }
}

.slider-no-btns {
  .swiper-controls {
    display: none;
  }
  .swiper-controls:has(.swiper-pagination) {
    display: block;
  }
  .swiper-button-wrapper {
    display: none;
  }
}

.slider-workers {
  @include media(min, 991) {
    .swiper-controls {
      display: none !important;
    }
  }
}

.history {
  @include media(min, 991) {
    .swiper-pagination {
      display: none;
    }
    .swiper-controls {
      margin-bottom: -50px;
    }
  }
}

.swiper-partners, .swiper-certificates {
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 126px;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    transition: opacity $transition;
    @include media(max, 991) {
      display: none;
    }
  }

  &::before {
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  &::after {
    right: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  &.first-slide::before {
    opacity: 0;
  }

  &.last-slide::after {
    opacity: 0;
  }
}
