.card-categories {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 30px;
  height: 480px;
  background-color: #F1F1F1;
  @include media(max, 1540) {
    height: 380px;
  }
  @include media(max, 767) {
    height: 312px;
  }
  @include hover {
    .card-categories__btn {
      color: $color-primary;
    }
  }

  &__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform $transition-long, opacity $transition-long;
    z-index: 1;
    @include media(max, 767) {
      transform: translateY(30%);
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    padding: 51px 47px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    z-index: 2;
    @include media(max, 767) {
      padding: 32px;
    }
  }
  &__title {
    &.h3 {
      @include media(max, 767) {
        font-size: 18px;
      }
    }
  }


  &__text {
    opacity: 0;
    transition: opacity $transition-long;
    @include media(max, 767) {
      opacity: 1;
      font-size: 12px;
      line-height: 120%;
    }
  }

  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    width: 126px;
    height: 126px;
    border-top-left-radius: 30px;
    z-index: 3;
    transition: color $transition;
    @include media(max, 1540) {
      width: 90px;
      height: 90px;
    }
    @include media(max, 767) {
      width: 80px;
      height: 80px;
    }

    svg {
      @include media(max, 1540) {
        width: 46px;
        height: 46px;
      }
      @include media(max, 767) {
        width: 40px;
        height: 40px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: -30px;
      width: 30px;
      height: 30px;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill="%23FFFFFF" d="M0,30h30V0C30,16.6,16.6,30,0,30z"/></svg>') no-repeat bottom right;
      background-size: cover;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -30px;
      width: 30px;
      height: 30px;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill="%23FFFFFF" d="M0,30h30V0C30,16.6,16.6,30,0,30z"/></svg>') no-repeat top left;
      background-size: cover;
    }
  }



  &:hover {
    .card-categories__image {
      transform: translateY(20%);

      @include media(max, 1540) {
        transform: translateY(40%);
      }
      @include media(max, 991) {
        opacity: 1;
      }
    }
    .card-categories__text {
      opacity: 1;
    }
  }
}
