.policy {
  text-align: center;
  p {
    margin-bottom: 8px;
    font-size: 11px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    color: $color-grey-dark;
  }
  a {
    color: $color-primary;
  }
}
