.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.55fr;
  grid-template-rows: repeat(2, 368px);
  grid-gap: 24px;
  @include media(max, 1240) {
    grid-template-columns: 1fr 1fr 1.55fr;
    grid-template-rows: repeat(3, 368px);
  }
  @include media(max, 991) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 368px);
  }
  @include media(max, 767) {
    grid-gap: 10px;
    grid-template-rows: repeat(6, auto);
  }
}

.adv-card {
  padding: 32px;
  background-color: $color-grey-light;
  background-size: cover;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  &--1 {
    grid-area: 1 / 1 / 2 / 3;
    justify-content: flex-end;
    .adv-card__title {
      width: 80%;
      @include media(max, 991) {
        width: 60%;
      }
      @include media(max, 767) {
        width: 100%;
      }
    }
  }
  &--2 { grid-area: 1 / 3 / 2 / 4; }
  &--3 {
    grid-area: 1 / 4 / 3 / 5;
    .adv-card__title {
      width: 80%;
      @include media(max, 767) {
        width: 100%;
      }
    }
  }
  &--4 { grid-area: 2 / 1 / 3 / 2; }
  &--5 { grid-area: 2 / 2 / 3 / 3; }
  &--6 { grid-area: 2 / 3 / 3 / 4; }

  @include media(max, 1240) {
    &--1 { grid-area: 1 / 1 / 2 / 3; }
    &--2 { grid-area: 2 / 1 / 3 / 2; }
    &--3 { grid-area: 1 / 3 / 4 / 4; }
    &--4 { grid-area: 2 / 2 / 3 / 3; }
    &--5 { grid-area: 3 / 1 / 4 / 2; }
    &--6 { grid-area: 3 / 2 / 4 / 3; }
  }
  @include media(max, 991) {
    &--1 {
      grid-area: 1 / 1 / 2 / 2;
      background-position: center;
    }
    &--2 { grid-area: 2 / 1 / 3 / 2; }
    &--3 {
      grid-area: 6 / 1 / 7 / 2;
      background-position: center;
    }
    &--4 { grid-area: 3 / 1 / 4 / 2; }
    &--5 { grid-area: 4 / 1 / 5 / 2; }
    &--6 { grid-area: 5 / 1 / 6 / 2; }
  }
  @include media(max, 767) {
    min-height: 258px;
      &--1,
      &--3 {
        min-height: 368px;
      }
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
    @include media(max, 767) {
      font-size: 22px;
      line-height: 120%;
    }
  }

  &--dark {
    background-color: $color-black;
    color: $color-white;
  }



}

.about-banner {
  display: flex;
  gap: 24px;
  @include media(max, 991) {
    flex-direction: column;
    gap: 10px;
  }
  .banner {
    width: 50%;
    height: 100%;
    @include media(max, 991) {
      width: 100%;
    }
    .banner__title {
      width: fit-content;
      padding: 25px 47px 47px 0;
    }
  }

  &__descr {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include media(max, 991) {
      width: 100%;
      gap: 16px;
    }
  }
  &__image-wrapper {
    padding: 0 32px;
    display: flex;
    gap: 24px;
    @include media(max, 991) {
      padding: 0;
      gap: 10px;
    }
    img {
      width: calc(50% - 12px);
      border-radius: 30px;
      object-fit: cover;
      height: 101px;
      @include media(max, 991) {
        width: calc(50% - 5px);
      }
    }

  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 32px;
    p {
      font-size: 20px;
    }
    @include media(max, 991) {
      padding: 0;
      p {
        font-size: 16px;
      }
    }
  }
}

.about-people {
  display: flex;
  gap: 40px;
  @include media(max, 991) {
    flex-direction: column;
    gap: 20px;
  }
  &__image {
    width: 52%;
    height: 480px;
    border-radius: 30px;
    overflow: hidden;
    @include media(max, 991) {
      width: 100%;
    }
    @include media(max, 767) {
      height: 240px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__descr {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include media(max, 991) {
      width: 100%;
      gap: 16px;
    }
  }
  &__text {
    p {
      line-height: 140%;
      @include media(max, 767) {
        line-height: 120%;
      }
    }
  }
}

.card-team {
  height: 519px;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  @include hover {
    .card-team__btn {
      color: $color-primary;
    }
  }
  @include media(max, 767) {
    height: 408px;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 102px;
    height: 102px;
    background: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 16px;
    transition: color $transition;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%23FFFFFF' d='M0,16h16V0C16,8.8,8.8,16,0,16z'/></svg>")
        no-repeat center;
      background-size: contain;
    }

    &::before {
      bottom: 0;
      left: -16px;
    }

    &::after {
      top: -16px;
      right: 0;
    }
  }
  &__hidden-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

.card-value {
  padding: 32px 32px 38px;
  background-color: $color-grey-light;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  border-radius: 30px;
  @include media(max, 767) {
    padding: 16px;
    gap: 16px;
  }
  &__image {
    width: 100%;
    height: 271px;
    object-fit: cover;
    border-radius: 16px;
    @include media(max, 767) {
      height: 178px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    @include media(max, 767) {
      font-size: 18px;
    }
  }
}

.history {
  &::after {
    content: '';
    position: absolute;
    width: 300%;
    height: 1px;
    left: -100%;
    right: 0;
    bottom: 8px;
    background-color: $color-primary;
    @include media(max, 991) {
      bottom: 60px;
    }
    @include media(max, 767) {
      bottom: 40px;
    }
  }
}

.card-history {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 8px;
  padding: 0 39px 60px 0;
  border-bottom: 1px solid $color-primary;

  &::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 1px;
    width: 10px;
    height: 10px;
    background-color: $color-primary;
    border-radius: 50%;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
    @include media(max, 767) {
      font-size: 26px;
      line-height: 120%;
    }
  }
  &__text {
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 130%;
      @include media(max, 767) {
        font-size: 16px;
        line-height: 120%;
      }
    }
  }
}

.staff-card {
  height: 550px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  @include media(max, 767) {
    height: 464px;
  }
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__info {
    width: calc(100% - 32px);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 32px;
    background-color: $color-white;
    border-radius: 50px;
    @include media(max, 767) {
      gap: 4px;
      padding: 12px 24px;
    }
  }
  &__name {
    color: #292D32;
    font-size: 20px;
    line-height: 130%;
    font-weight: 600;
    @include media(max, 767) {
      font-size: 14px;
      line-height: 120%;
      font-weight: 500;
    }
  }
  &__position {
    color: #595959;
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
    @include media(max, 767) {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
