.button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-shrink: 0;
  width: fit-content;
  height: 56px;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  border-radius: 50px;
  transition: background-color $transition, color  $transition;


  @include media(max, 767) {
    font-size: 16px;
    width: 100%;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;
    padding: 16.5px 37px;
    @include hover {
      background-color: $color-primary-light;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-black;
    padding: 16.5px 28px;
    @include hover {
      background-color: $color-black;
      color: $color-white;
    }
  }

  &--bordered {
    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-black;
    padding: 16.5px 29px;
    transition: border-color $transition, background-color $transition, color $transition;
    @include hover {
      border-color: $color-primary;
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &--copy {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: $color-white;
    border-radius: 50%;
    position: relative;
    svg {
      color: $color-black;
      transition: color $transition;
    }

    @include hover {
      background-color: $color-black;
      svg {
        color: $color-white;
      }
    }
    .copyNotice {
      display: flex;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      background-color: $color-white;
      color: $color-black;
      font-size: 12px;
      text-transform: none;
      line-height: 120%;
      padding: 7px 20px;
      border-radius: 50px;
      bottom: calc(100% + 10px);
      left: 0;
      width: max-content;
      transition: $transition;
      @include media(max, 767) {
        display: none;
      }
    }
    &.active{
      .copyNotice {
        opacity: 1;
      }
    }
  }

  &[disabled],
  &--disabled {
    background-color: #898989;
    border-color: #898989;
    color: #C5C5C5;
    pointer-events: none;
  }
}

.button * {
  pointer-events: none;
}
