extends ../../template/template.pug

block mainwrapper
    .heading
        .heading__row
            .container
                +breadcrumbs(["Каталог", "Публикации", "Мясные технологии"])
    .page
      section.section.section--article
        .container.container--blog
          .h1
            h1 Многокомпонентные рассолы: особенности состава, свойств и способов приготовления
          .article__wrapper
            .article
              .article__head
                .article__date
                  span 20.09.2024
                .article__share
                  span Поделиться:
                  .article__social
                    a.social__item(href="#" target="_blank")
                        svg.social__icon(width="22" height="12")
                            use(href='#icon-vk')
                    a.social__item(href="#" target="_blank")
                        svg.social__icon(width="18" height="15")
                            use(href='#icon-telegram')
              .article__content
                p В очередной части обзора — продолжение анализа функционально-технологических свойств компонентов рассолов, используемых в технологии цельномышечных и реструктурированных мясных продуктов. Рассмотрены белковые препараты, молочно-белковые препараты, яйцо и яйцепродукты, белковые препараты из крови убойных животных, животные белки, соевые белковые препараты, глютен, мясные фарши, пищевые красители и вкусо-ароматические добавки в составе рассолов.
                .banner.banner-video
                  .banner__media
                    img.banner__image(
                      src="img/image-content/banner-video.jpg"
                      alt="Описание баннера"
                      loading="eager")
                    .banner__video-btn(data-modal-open="video-modal")
                      svg(width="100" height="100")
                        use(href="#icon-video-play")
                .overlay(data-overlay="")
                .modal.modal--video(data-modal="video-modal")
                    .modal__close(data-modal-close="")
                      svg(width="24" height="24")
                          use(href="#icon-cross")
                    video.modal__video(
                        playsinline
                        muted
                        controls
                        loop
                        preload="auto")
                        source(src="img/image-content/banner.mp4" type="video/mp4")
                p В очередной части обзора — продолжение анализа функционально-технологических свойств компонентов рассолов, используемых в технологии цельномышечных и реструктурированных мясных продуктов. Рассмотрены белковые препараты, молочно-белковые препараты, яйцо и яйцепродукты, белковые препараты из крови убойных животных, животные белки, соевые белковые препараты, глютен, мясные фарши, пищевые красители и вкусо-ароматические добавки в составе рассолов.
                blockquote.quote
                  .quote__title
                    h3 Так будет выглядеть цитата
                  .quote__text
                    p Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: граница обучения кадров способствует повышению качества новых предложений.
                    p Учитывая ключевые сценарии поведения, существующая теория влечет за собой процесс внедрения и модернизации как самодостаточных, так и внешне зависимых концептуальных решений.
                  .quote__author
                    span.quote__name Константин Константинопольский
                    span.quote__position Директор по продукту
                figure
                  img(src="img/image-content/blog-image.jpg", alt="Просто описание фото")
                  figcaption Просто описание фото
                h2#1 Просто заголовок
                p Каждый из нас понимает очевидную вещь: дальнейшее развитие различных форм деятельности играет определяющее значение для прогресса профессионального сообщества. В своем стремлении повысить качество жизни, они заботятся, что социально-экономическое развитие требует от нас анализа дальнейших направлений развития. Внезапно, предприниматели в сети интернет формируют глобальную экономическую сеть и при этом функционально развиваются на независимые элементы. Однозначно, стремящиеся вывести традиционное производство, нанотехнологии, инициированные исключительно синтетически, указаны как предметы на роль ключевых факторов.
                .table-wrapper
                  table
                    thead
                      tr
                        th Столбец 1
                        th Столбец 2
                    tbody
                      tr
                        td Свободу слова не задушить, пусть даже непосредственная причина обладает душой
                        td Задача организации, в особенности же существующая теория обеспечивает формирование нужного уровня участия в формировании дальнейшей стратегии подсистем
                      tr
                        td Сложно сказать, почему обращения нашей инновационной группы продолжает удивлять
                        td Также как высокое качество позиций, инновационная деятельность напрямую зависит от формулирования глубокомысленных рассуждений
                      tr
                        td И в свой день в центральных регионах взяты предложения страны секторов Амстердама
                        td Прослеживаемая деятельность показывает, что приступив к реализации планируемых функциональных запросов формирование глобального регламента в обществе
                      tr
                        td Базовый вектор развития не позволит союзу развиваться
                        td Значимость этих проблем настолько очевидна, что начало повседневной работы по созданию системы массового участия способствует подготовке соответствующих условий активизации
                h2#2 Просто заголовок
                p Современные технологии достигли такого уровня, что базовый вектор развития, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для своевременного выполнения сверхзадачи.
                ol
                  li Мы хорошо понимаем задачи наших клиентов и предлагаем готовые решения, чтобы не тратить Ваше время и сделать работу максимально эффективной.
                  li Современные технологии достигли такого уровня, что базовый вектор развития, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для своевременного выполнения сверхзадачи.
                  li Современные технологии достигли такого уровня, что экономическая повестка сегодняшнего дня способствует повышению качества укрепления моральных ценностей.

                p Предварительные выводы неутешительны: постоянный количественный рост и сфера нашей активности обеспечивает актуальность поэтапного и последовательного развития общества.

                ul
                  li Предварительные выводы неутешительны: постоянный количественный рост и сфера нашей активности обеспечивает актуальность поэтапного и последовательного развития общества.
                  li Вот яркий пример современных тенденций — разбавленное изрядной долей эмпатии, рациональное мышление является качественно новой ступенью форм воздействия.
                  li Принимая во внимание показатели успешности, понимание сути ресурсосберегающих технологий не даёт нам много выбора, кроме определения новых предложений.

                h2#3 Завершение
                p Наше дело не так однозначно, как может показаться: сложившаяся структура организации однозначно фиксирует необходимость переосмысления внешнеэкономических политик. А также предприниматели в сети интернет призывают нас к новым свершениям, которые, в свою очередь, должны быть описаны максимально подробно.


              .article__share
                  span Поделиться:
                  a.social__item(href="#" target="_blank")
                      svg.social__icon(width="22" height="12")
                          use(href='#icon-vk')
                  a.social__item(href="#" target="_blank")
                      svg.social__icon(width="18" height="15")
                          use(href='#icon-telegram')
            .article__sidebar
              .table-of-contents
                .table-of-contents__title Оглавление
                ol.table-of-contents__nav
                  li
                    a(href="#1") Заголовок
                  li
                    a(href="#2") Новая глава
                  li
                    a(href="#3") Ещё глава
              .mention
                .mention__title
                  span В статье упоминается
                +swiper("swiper-blog-products", "pagination-id", "sliderBlogProducts", true)
                  .swiper-slide
                    +productCard({name: "Вкусаром Болонская", code: "50041418", link: "/catalog-detail.html"})
                  .swiper-slide
                    +productCard({name: "Вкусаром Болонская", code: "50041418", link: "/catalog-detail.html"})
                  .swiper-slide
                    +productCard({name: "Вкусаром Болонская", code: "50041418", link: "/catalog-detail.html"})
      section.section
        .container.slider-no-btns
            .section-heading
              .h2
                h2 Другие наши публикации
            +swiper("swiper-blog", "pagination-id", "sliderBlog", true)
              .swiper-slide
                +CardBlog({
                  img: '/img/image-content/blog-1.jpg',
                  title: 'Видео с производства',
                  text: 'Мясоперерабатывающая промышленность — одна из старейших и крупнейшая отрасль пищевой индустрии',
                  link: '/blog-detail.html'
                })
              .swiper-slide
                +CardBlog({
                  img: '/img/image-content/blog-2.jpg',
                  title: 'Видео с производства',
                  text: 'Мясоперерабатывающая промышленность — одна из старейших и крупнейшая отрасль пищевой индустрии',
                  link: '/blog-detail.html'
                })
              .swiper-slide
                +CardBlog({
                  img: '/img/image-content/blog-3.jpg',
                  title: 'Видео с производства',
                  text: 'Мясоперерабатывающая промышленность — одна из старейших и крупнейшая отрасль пищевой индустрии',
                  link: '/blog-detail.html'
                })
