.inputholder {
  width: 100%;
  position: relative;
  &__error {
    font-size: 12px;
    line-height: 120%;
    padding-top: 4px;
    color: $color-error;
    visibility: hidden;
    transition: opacity $transition;
    opacity: 0;
  }

  &.form-error {
    & .inputholder__error {
      visibility: visible;
      opacity: 1;
    }
  }
  &__input,
  &__textarea {
    font-family: inherit;
	&::placeholder {
	  color: $color-grey-dark;
	}
  &:focus {
    border-color: $color-primary;
  }
	&.error {
	  border-color: $color-error !important;
	  &::placeholder {
		color: $color-error;
	  }
	}
  }
  &__input {
	width: 100%;
	font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  }
  &__textarea {
	width: 100%;
	min-height: 100px;
	padding: 10px 20px;
	border-radius: 7px;
	border: 1px solid $color-black;
	font-size: 16px;
	display: block;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.error-text {
  font-size: 12px;
  line-height: 1.1;
  margin-top: 4px;
  color: $color-error;
  display: none;
  &--backend {
	display: block;
  }
}
.error {
  border-color: $color-error;
  &+.error-text {
	display: block;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .button {
    width: 100%;
  }

  .inputholder__input {
    border-bottom: 1.5px solid #ABAFB4;
    padding-bottom: 11px;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
  }
}
