.social {
  display: flex;
  gap: 16px;
  align-items: center;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-primary;
    transition: background-color $transition;

    svg {
      color: $color-white;
      transition: color $transition;
    }

    @include hover {
      background-color: $color-primary-light;
    }
  }
  &__icon {
    transition: $transition;
    fill: $color-black;
  }
}
