.feedback {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 60px;
  background-color: $color-grey-blue;
  border-radius: 30px;

  @include media(max, 991) {
    flex-direction: column;
    gap: 40px;
    padding: 32px 16px;
  }

  &__form {
    width: 600px;
    @include media(max, 991) {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 600px;
    @include media(max, 991) {
      gap: 16px;
    }
  }

  &__text {
    p {
      line-height: 140%;

    }
  }
}

.requisites {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  bottom: 60px;
  line-height: 120%;
  width: 35%;

  @include media(max, 991) {
    position: static;
    margin-top: -20px;
    width: 100%;
  }

  &__list {
    display: flex;
    gap: 19px;
    justify-content: space-between;
    @include media(max, 991) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
