.banner {
  position: relative;
  width: 100%;
  height: clamp(490px, calc(100vh - 275px), 780px);
  @include media(max, 1540) {
    .h1 {
      font-size: 42px;
      @include media(max, 767) {
        font-size: 25px;
      }
    }
  }
  @include media(max, 991) {
    overflow: auto;
    height: unset;
  }

  &__media {
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
    @include media(max, 991) {
      height: 400px;
    }
    @include media(max, 767) {
      height: 240px !important;
    }
  }

  &__image,
  &__video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    max-width: min(720px, 90%);
    z-index: 2;

    @include media(max, 991) {
      position: static;
    }

    .banner__title {
      width: 908px;
      padding: 25px 0;
      @include media(max, 1540) {
        width: 675px;
        padding: 25px 47px 10px 0;
      }
      @include media(max, 991) {
        width: 100%;
        padding-top: 0;
      }
      &.h2 {
        font-size: 42px;
        padding: 23px 47px 40px 0;
        @include media(max, 991) {
          padding: 0;
          font-size: 26px;
        }
      }
    }

    .banner__subtitle {
      padding: 34px 0;
      width: 452px;
      font-size: 18px;
      line-height: 140%;
      @include media(max, 1540) {
        padding: 25px 0 25px;
      }
      @include media(max, 991) {
        width: 100%;
        padding: 10px 0 30px;
        font-size: 16px;
      }
    }
  }
  &__buttons {
    position: absolute;
    bottom: 00;
    display: flex;
    gap: 13px;
    padding: 47px 47px 0 0;
    @include media(max, 1540) {
      padding: 25px 25px 0 0;
    }
    @include media(max, 991) {
      max-width: unset;
      position: static;
    }
    @include media(max, 767) {
      flex-direction: column;
      padding: 30px 0 0;
    }
  }
}

.banner-about {
  @include media(max, 991) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .banner__title {
    width: 880px;
    @include media(max, 1220) {
      width: 710px;
    }
    @include media(max, 991) {
      width: 100%;
      padding-top: 0;
    }
  }
  .banner__text {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 43px 0 0 47px;
    width: 474px;
    @include media(max, 991) {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;
      position: static;
      margin-top: -14px;
      padding: 0;
    }
  }
  .button {
    position: absolute;
    left: 46px;
    bottom: 46px;
    @include media(max, 991) {
      position: static;
      border: 1px solid $color-black;
    }
  }
}

.banner-video {
  @include media(max, 1200) {
    overflow: auto;
    height: unset;
  }
  .banner__text {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 43px 0 0 47px;
    max-width: 45%;
    @include media(max, 1200) {
      position: static;
      padding: 20px 0 0;
      max-width: 100%;
    }
    p {
      @include media(max, 767) {
        font-size: 16px;
      }
    }
  }
  .banner__video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .banner__media {
    @include media(max, 1200) {
      position: relative;
      height: 400px;
    }
  }
}
