.header {
  position: fixed;
  width: 100%;
  padding: 40px 0;
  z-index: 100;
  background-color: $color-white;
  @include media(max, 767) {
    padding: 10px 0;
  }

  &__nav {
    // @include media(max,991) {
    //   width: calc(100% + 32px);
    // }

    .nav__list {
      @include media(max,991) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }

    .nav__item {
      @include media(max,991) {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $color-grey-blue;
      }
    }

    .nav__link {
      @include media(max,991) {
        padding: 16px 0;
        width: 100%;
        display: block;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    // gap: 25px;
    // @include media(max, 767) {
    //   gap: 10px;
    // }
  }
  &__gap {
    width: 100%;
    height: 25px;
    @include media(max, 767) {
      height: 10px;
    }
  }
  &--top,
  &--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 58px;
  }
  &--bottom {
    @include media(max, 767) {
      flex-direction: column;
      gap: 10px;
    }
  }
  &__contacts {
    display: flex;
    gap: 8px;
    @include media(max, 991) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__social {
    display: none;
    @include media(max, 991) {
      display: block;
      margin-top: -16px;
    }
  }
  &__search {
    background: #F1F1F1;
    border-radius: 30px;
    height: 56px;
    padding: 17.5px 60px 17.5px 32px;
  }
  &__inputholder-search {
    @include media(max, 767) {
      position: absolute;
      top: -200%;
      left: 0;
      width: 100%;
      padding: 0 16px 10px;
      opacity: 0;
      background-color: $color-white;
      transition: top $transition, opacity $transition;
      z-index: 100;

      &.active {
        top: 118px;
        opacity: 1;
      }
    }
  }
  &__mail {
    font-weight: 500;
  }
  &__phone {
    font-weight: 600;
  }
  &__btn-catalog {
    @include media(max, 767) {
      background-color: $color-white;
      color: $color-black;
      border: 1px solid $color-black;
      @include hover {
        background-color: $color-white;
      }
    }
  }
  &__search-btn {
    display: none;
    width: 42px;
    height: 42px;
    align-items: center;
    justify-content: center;
    color: $color-black;
    cursor: pointer;
    @include media(max,767) {
      display: flex;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100vw;
    padding: 26px 16px 32px;
    opacity: 0;
    background-color: $color-white;
    transition: top $transition, opacity $transition;
    z-index: -1;
    pointer-events: none;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    &.vis {
      top: 42px;
      opacity: 1;
      z-index: 100;
      pointer-events: all;
    }
  }
  &__overlay {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: $color-black;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity $transition;
    z-index: 99;

    &.vis {
      opacity: 0.5;
      visibility: visible;
      pointer-events: auto;
    }
  }
  &__search-icon,
  &__cross-icon {
      position: absolute;
      top: 50%;
      right: 32px;
      transform: translateY(-50%);
      @include media(max,767) {
        right: 34px;
        transform: translateY(calc(-50% - 5px));
      }
  }
  &__cross-icon {
    display: none;
    cursor: pointer;
    @include media(max,767) {
      display: block;
    }
  }
  &__search-icon {
    @include media(max,767) {
      display: none;
    }
  }
}

.search-result {
  width: 100%;
  max-height: 377px;
  position: absolute;
  top: calc(100% + 17px);
  background: white;
  padding: 36px 30px 0 19px;
  border-radius: 16px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s $transition, transform 0.3s $transition;

  @include media(max,767) {
    top: calc(100% - 10px);
    left: 0;
    left: 0;
    padding: 16px 0;
    margin: 0 16px;
    width: calc(100% - 32px);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 19px;
    overflow-y: auto;
    max-height: 341px;
    padding-right: 34px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 9px 11px 11px;
    border-radius: 7px;
    @include hover {
      background: $color-grey-blue;
    }
  }
  &__title {
    font-weight: 500;
    line-height: 120%;
  }
  &__category {
    font-size: 13px;
    line-height: 120%;
    color: $color-grey-dark;
  }
}
