// colors
$color-black: #070E2A;
$color-white: #FFFFFF;
$color-grey: #F5F5F5;
$color-grey-light: #F1F1F1;
$color-grey-dark: #828D99;
$color-grey-blue: #E9EFF6;
$color-blue-light: #D5E5FF;

$color-primary: #0047BB;
$color-primary-light: #0564FF;

$color-error: #FF0000;

// font-family

$font-primary: 'Montserrat', sans-serif;;

// transition

$transition: .3s ease;
$transition-long: .7s ease;

// sizes

$header-height: 185px;
$header-height-mob: 128px;
