@layer reset {
  header,
  main,
  footer,
  .modal {
    *:not(svg):not(svg *):not(strong):not(em):not(b):not(del) {
      all: unset;
      display: revert;
      list-style: none;
    }
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: unset;
  transition: $transition;
  cursor: pointer;
}
button {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
img {
  display: block;
  width: auto;
  max-width: 100%;
  overflow: clip;
  overflow-clip-margin: content-box;
}
.hidden {
  display: none !important;
}
body {
  min-height: 100vh;
  position: relative;
  font-family: $font-primary;
  font-style: normal;
  color: $color-black;
  height: 100%;
}
html {
  height: auto;
  -webkit-text-size-adjust: none;
  &.disable-scrolling {
    overflow: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }
}
html,
body {
  min-height: 100vh;
  font-variant-ligatures: no-common-ligatures;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}
.main,
.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.main {
  padding-top: $header-height;
  @include media(max, 991) {
    padding-top: 203px;
  }
  @include media(max, 767) {
    padding-top: $header-height-mob;
  }
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  max-width: 1732px;
  @include media(max, 1810) {
    max-width: 94%;
  }
  @include media(max, 1094) {
    max-width: 100%;
  }

  &--small {
    max-width: 1240px;
    padding: 0 40px;
    @include media(max, 767) {
      padding: 0 16px;
    }
  }
}
.section {
  padding: 75px 0;
  overflow: hidden;

  @include media(max, 1810) {
    padding: 55px 0;
  }

  &:first-child {
    padding-top: 50px;
    @include media(max, 767) {
      padding-top: 20px;
    }
  }

  &.section--policy {
    p {
      font-size: 16px;
      line-height: 140%;
      @include media(max, 767) {
        font-size: 14px;
        line-height: 120%;
      }
    }
  }

  &.section-catalog-categories,
  &.section--article {
    overflow: visible;
  }

  &.section--not-found {
    position: relative;
    .container {
      padding: 95px 16px;
      align-items: center;
    }
    .h3 {
      font-size: 60px;
      line-height: 100%;
      @include media(max, 767) {
        font-size: 32px;
        line-height: 120%;
      }
    }
    .not-found-bg {
      position: absolute;
      height: 100%;
    }
    .not-found-logo {
      width: 214px;
      @include media(max, 767) {
        width: 103px;
      }
    }
    .buttons-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .button {
      min-width: 400px;
      @include media(max, 767) {
        min-width: unset;
        max-width: 100%;
      }
    }
    .text {
      p {
        text-align: center;
        line-height: 150%;
        font-size: 20px;
        color: #242424;
        @include media(max, 767) {
          font-size: 16px;
          line-height: 120%;
        }
      }

    }
  }

  @include media(max, 767) {
    padding: 30px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include media(max, 767) {
      gap: 30px;
    }
    &.container--blog {
      max-width: 1382px;
      @include media(max, 991) {
        overflow: hidden;
      }
    }
  }

  &--main {
    padding-top: 20px !important;
    @include media(max, 767) {
      padding-bottom: 30px;
    }
  }


}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

}

.not-found {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 250px;
  font-weight: 600;
  line-height: 100%;
  @include media(max, 767) {
    font-size: 120px;
    gap: 15px;
  }
}

.no-mob {
  @include media(max, 767) {
    display: none !important;
  }
}

.only-mob {
  display: none !important;
  @include media(max, 767) {
    display: block !important;
  }
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-black;
    border-radius: 5px;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  opacity: 0;
  animation-fill-mode: both;
}

.slide-in-left.animate {
  animation: slide-in-left 0.7s ease-out forwards;
}

.bg-top-left {
  position: relative;
  background-color: $color-white;
  border-bottom-right-radius: 40px;
  @include media(max, 991) {
    border-radius: 0;
    background-color: unset;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -40px;
    width: 40px;
    height: 40px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path fill="%23FFFFFF" d="M40,0H0v40C0,17.9,17.9,0,40,0z"/></svg>') no-repeat top right;
    background-size: cover;
    @include media(max, 991) {
      display: none;
    }
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 40px;
    height: 40px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path fill="%23FFFFFF" d="M40,0H0v40C0,17.9,17.9,0,40,0z"/></svg>') no-repeat top right;
    background-size: cover;
    @include media(max, 991) {
      display: none;
    }
  }
}

.bg-bottom-left {
  position: relative;
  background-color: $color-white;
  border-top-right-radius: 40px;

  @include media(max, 991) {
    border-radius: 0;
    background-color: unset;
  }

  &::after {
    content: '';
    position: absolute;
    right: -40px;
    bottom: 0;
    width: 40px;
    height: 40px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path fill="%23FFFFFF" d="M0,0v40h40C17.9,40,0,22.1,0,0z"/></svg>') no-repeat bottom right;
    background-size: cover;
    @include media(max, 991) {
      display: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path fill="%23FFFFFF" d="M0,0v40h40C17.9,40,0,22.1,0,0z"/></svg>') no-repeat top left;
    background-size: cover;
    @include media(max, 991) {
      display: none;
    }
  }
}

.bg-bottom-right {
  position: relative;
  background-color: $color-white;
  border-top-left-radius: 40px;

  @include media(max, 991) {
    border-radius: 0;
    background-color: unset;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: -40px;
    width: 40px;
    height: 40px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path fill="%23FFFFFF" d="M0,40h40V0C40,22.1,22.1,40,0,40z"/></svg>') no-repeat bottom right;
    background-size: cover;
    @include media(max, 991) {
      display: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -40px;
    width: 40px;
    height: 40px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path fill="%23FFFFFF" d="M0,40h40V0C40,22.1,22.1,40,0,40z"/></svg>') no-repeat top left;
    background-size: cover;
    @include media(max, 991) {
      display: none;
    }
  }
}
