.footer {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 46px;
  }
  &__nav {
    @include media(max, 767) {
      .nav__list {
        flex-direction: column;
        align-items: center;
        gap: 16px;
      }
    }
  }
  &__logo {
    margin-right: 13px;
  }
  &--top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px;
    @include media(max, 767) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
  &--bottom {
    display: flex;
    justify-content: center;
    padding: 36px 0 28px;
    border-top: 1px solid $color-black;
    @include media(max, 767) {
      padding: 30px 0 32px;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__search {
    background: #F1F1F1;
    border-radius: 30px;
    height: 56px;
    padding: 17.5px 60px 17.5px 32px;
  }
  &__mail {
    font-weight: 500;
  }
  &__phone {
    font-weight: 600;
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 14px;
    @include media(max, 767) {
      flex-direction: column;
      gap: 10px;
      line-height: 21px;
    }
  }
  &__site-developer {
    display: flex;
    gap: 32px;
    @include media(max, 767) {
      gap: 10px;
    }
  }
  &__contacts-mob {
    display: none;
    @include media(max, 767) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
  }
}
