.card-blog {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 19px;
  padding-bottom: 17px;
  @include hover {
    .card-blog__btn {
      color: $color-primary;
    }
  }
  @include media(max, 767) {
    gap: 10px;
  }
  &__title {
    h3 {
      font-size: 30px;
      @include media(max, 767) {
        font-size: 22px;
      }
    }
  }

  &__image {
    width: 100%;
    height: 397px;
    object-fit: cover;
    border-radius: 30px;
    @include media(max, 767) {
      height: 222px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 19px;
    @include media(max, 767) {
      gap: 10px;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    width: 80px;
    height: 80px;
    border-bottom-left-radius: 30px;
    z-index: 3;
    transition: color $transition;

    @include media(max, 767) {
      width: 50px;
      height: 50px;
      border-bottom-left-radius: 20px;
    }

    svg {
      @include media(max, 767) {
        width: 26px;
        height: 26px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: -30px;
      top: 0;
      width: 30px;
      height: 30px;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill="%23FFFFFF" d="M30,30V0H0C16.6,0,30,13.4,30,30z"/></svg>') no-repeat bottom right;
      background-size: cover;
      @include media(max, 767) {
        width: 20px;
        height: 20px;
        left: -20px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -30px;
      right: 0;
      width: 30px;
      height: 30px;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill="%23FFFFFF" d="M30,30V0H0C16.6,0,30,13.4,30,30z"/></svg>') no-repeat top left;
      background-size: cover;
      @include media(max, 767) {
        width: 20px;
        height: 20px;
        bottom: -20px;
      }
    }
  }
}
