.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  @include hover {
    .product-card__btn {
      color: $color-primary;
    }
  }

  height: 233px;
  background: $color-grey;
  border-radius: 30px;
  padding: 24px 100px 24px 24px;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  &__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    color: #94A4B8;
  }
  &__name {
    font-size: 18px;
    font-weight: 600;
    color: $color-primary;
  }
  &__code {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
  }

  &__text-detail {
    display: flex;
    gap: 16px;
    margin-top: auto;
    @include media(max, 1200) {
      flex-direction: column;
    }
    .product-card__text {
      flex-direction: row;
      gap: 16px;
      width: 50%;
      @include media(max, 1200) {
        width: 100%;
      }
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include media(max, 767) {
      gap: 16px;
    }
  }

  &__btn-wrapper {
    display: flex;
    gap: 16px;
    @include media(max, 1200) {
      flex-direction: column;
    }
  }

  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    width: 76px;
    height: 76px;
    border-top-left-radius: 30px;
    z-index: 3;
    transition: color $transition;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: -30px;
      width: 30px;
      height: 30px;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill="%23FFFFFF" d="M0,30h30V0C30,16.6,16.6,30,0,30z"/></svg>') no-repeat bottom right;
      background-size: cover;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -30px;
      width: 30px;
      height: 30px;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill="%23FFFFFF" d="M0,30h30V0C30,16.6,16.6,30,0,30z"/></svg>') no-repeat top left;
      background-size: cover;
    }
  }
}
