mixin productCard(data)
  a.product-card(href=data.link)
    .product-card__text
      .product-card__title
        span Название КПД
      .product-card__name
        span Вкусаром Болонская
    .product-card__text
      .product-card__title
        span Код для заказа
      .product-card__code
        span 50041418
    .product-card__btn
        svg(width="40" height="40")
          use(href="#icon-categories-btn")
